# SPDX-FileCopyrightText: © 2019-2020 Nadim Kobeissi <nadim@symbolic.software>
# SPDX-License-Identifier: CC0-1.0

# Verifpal
cmd/verifpal/resource.syso
build/windows/verifpal.exe
build/linux/verifpal
build/macos/verifpal
build/freebsd/verifpal
build/wasm/verifpal.wasm
dist

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.upx

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# macOS
.DS_Store

# Visual Studio Code
.vscode

# SonarQube
.scannerwork

# Snapcraft
snapcraft.login
