name: CI

on: [push, pull_request]

jobs:
  test:
    env:
      GOFLAGS: -buildvcs=false
    runs-on: ubuntu-latest
    container:
      image: golang:latest
    steps:
    - name: Setup Go environment
      uses: actions/setup-go@v6.1.0
    - name: Checkout code
      uses: actions/checkout@v6.0.1
    - name: Install dependencies
      run: make dep
    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v9.2.0
    - name: Run tests
      run: make test
